@{
    ViewData["Title"] = "Главная страница";
}

<section id="three" class="wrapper align-center">
    <header class="align-center">
        <h2>Новостная лента</h2>
        <input type="button" value="Читать RSS, выгружаемый с lenta.ru" onclick="window.location='@Url.Action("RssFeed", "Home")'" />
    </header>


    <div class="inner">
        <div class="flex flex-2">
            @for (int i = 0; i < ViewBag.News.Length; i++)
            {
            <article>
                <div class="image round">
                    <img src="@(ViewBag.News[i].mainImg)" alt="Pic 01" />
                </div>
                <header>
                    <h3>@Html.Raw(ViewBag.News[i].headerSmall)</h3>
                </header>
                <p>@Html.Raw(ViewBag.News[i].shortHTML)</p>
                <footer>
                    <a class="button" asp-controller="Home" asp-action="News" asp-route-number="@i">Читать далее</a>
                </footer>
            </article>
            }
        </div>
    </div>
</section>


<footer id="footer">
    SberSeasons Москва 2018 год
</footer>
